{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Kambi Offering API",
    "description" : "Kambi Offering API - providing sports events to bet on",
    "version" : "2018"
  },
  "servers" : [ {
    "url" : "https://eu-offering.kambicdn.org/offering/v2018",
    "variables" : { }
  }, {
    "url" : "https://us1-api.aws.kambicdn.com/offering/v2018",
    "variables" : { }
  }, {
    "url" : "https://ctn-api.kambi.com/offering/v2018",
    "variables" : { }
  }, {
    "url" : "https://cts-api.kambi.com/offering/v2018",
    "variables" : { }
  } ],
  "paths" : {
    "/{offering}/betoffer/landing" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get bet offer landing page",
        "description" : "The landingpage-resource consists of 8 different type of cards<li><b>Shocker :</b> For an event to be considered a 'shocker' it needs to be football, live and its main three-way betOffer must have had an odds below 2.0 at the start of the game and then had the odds raised more than 50%.\n</li><li><b>Live Right Now (LRN) :</b> Events that are live right now. Only the count of total number of events are actually used on the landingpage.\n</li><li><b>NextOff :</b> Next horse racing event to start.\n</li><li><b>Popular :</b> The 5 most popular events during the last hour in the current market. The events are chosen by number of bets/outcome for all Kambi customers. No live events.\n</li><li><b>Highlights :</b> Lists five prematch events based on participant ranking (based on placed bets historically) and preferably max two events per event group.\n</li><li><b>Starting soon :</b> Lists five prematch events that will start within the next 24 hours, sorted on start time.\n</li><li><b>Starting soon aggregate :</b> The number of events starting within the next 30 minutes.\n</li><li><b>Starting soon live :</b> The number of events that will be traded live starting within the next 40 minutes.</li>",
        "operationId" : "landingPage",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "UK"
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of bet offer landing page",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RequestedEventsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/event/{eventId}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get all bet offers for a event",
        "description" : "List of all bet offers for the specified event. Query parameter type can be used for filtering the bet offers by bet offer type.",
        "operationId" : "getBetOffersByEventId",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "A comma separated list of event identifiers",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Only include bet offers of this numeric bet offer type(s), comma separated. If no bet offer is available for any of the given type(s), the resource gives 404.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/outcome" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get unique bet offers for specified outcome",
        "description" : "List of unique bet offers that contain the specified outcomes. If multiple outcomes from the same bet offer are specified, only a single instance of the bet offer is returned",
        "operationId" : "getBetOffersByOutcomeIds",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Provide multiple outcome identifiers as /betoffer/outcome.json?id=1&id=2. You can also provide combinational outcomes as id=1001,1002.",
          "required" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/{betOfferId}/playeroutcome/{playerOutcomeId}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Lists bet offer details containing only the specific result Outcomes ",
        "description" : "Lists bet offer details containing only the specific resultOutcomes relevant for the specified playerOutcome in the bet offer. Applies only for winCast and scoreCast bet offers. Text labels are localized according to submitted request parameter lang.",
        "operationId" : "getBetOfferByPlayerOutcomeId",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "betOfferId",
          "in" : "path",
          "description" : "Bet offer identifier. example 57889",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "playerOutcomeId",
          "in" : "path",
          "description" : "Player outcome identifier. It should be part of the specified bet offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/group/{groupIds}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "List of all prematch and live bet offers in the specified event group.",
        "description" : "List of all prematch and live bet offers in the specified event group. For live bet offers we also check that they are onsite as well. To filter just the prematch or live bet offers use the exclusion flags.",
        "operationId" : "getBetOffersByGroupId",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "groupIds",
          "in" : "path",
          "description" : "List of Event group identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "excludeLive",
          "in" : "query",
          "description" : "Whether to exclude live bet offers or events",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "excludePrematch",
          "in" : "query",
          "description" : "Whether to exclude prematch bet offers or events",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "onlyMain",
          "in" : "query",
          "description" : "Whether to filter out only main bet offers",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "onlyStreamed",
          "in" : "query",
          "description" : "Enables filtering by event web streaming status",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "onlyCompetitions",
          "in" : "query",
          "description" : "Enables filtering by event type",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Only include bet offers of this numeric bet offer type(s), comma separated. If no bet offer is available for any of the given type(s), the resource gives 404.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Bet offer category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/mostpopular/3way" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get most popular three-way betoffer",
        "description" : "Country specific list of bet offers that contain the five most popular outcomes. Lang parameter decides country. The popular outcomes have the property popular with value true.",
        "operationId" : "getMostPopular3way",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "excludeLive",
          "in" : "query",
          "description" : "Set to true if live betOffers should not be returned",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "excludePrematch",
          "in" : "query",
          "description" : "Set to true if betOffers prematch should not be returned",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/participant/{participantId}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get bet offer based on participant",
        "description" : "List of all open bet offers for the specified participant. The participant must be listed as participating in the bet offer’s event to be found. Participants only connected to an outcome within the bet offer will not be found by this resource. Query parameter type can be used for filtering the bet offers by bet offer type.",
        "operationId" : "getBetOffersByParticipantId",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "participantId",
          "in" : "path",
          "description" : "Participant identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Only include bet offers of this numeric bet offer type(s), comma separated. If no bet offer is available for any of the given type(s), the resource gives 404.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/selected/{categoryGroupName}/event/{eventId}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get bet offer for a category and event",
        "description" : "List selected bet offers for the specified event. The bet offers returned is specified by the setup of categories in the given category view (In the betoffer category client). The resource is dynamic in the way that if a betoffer is suspended or closed the next (in category mapping sort order) betoffer for that category will be returned.",
        "operationId" : "getBetoffersByCategoryViewForEvent",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "categoryGroupName",
          "in" : "path",
          "description" : "The name of the category view of interest. The betoffers returned matches the categories specified in this category view.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "List of event identifiers. Events which are not found are ignored.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferCombinedResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "If none of the given events are found. The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/betoffer/{betOfferIds}" : {
      "get" : {
        "tags" : [ "Bet offers" ],
        "summary" : "Get bet offers by ids",
        "description" : "List of all bet offers for the specified ids. ",
        "operationId" : "getBetOffersById",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "betOfferIds",
          "in" : "path",
          "description" : "A comma separated list of bet offer identifiers",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of a bet offer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/category/{categoryGroupNames}/sport/{sportId}" : {
      "get" : {
        "tags" : [ "Bet offer category" ],
        "summary" : "get bet offer categories based on sport",
        "description" : "Returns bet offer categories for the sport.",
        "operationId" : "getBetOfferCategoriesBySportAndCategoryGroupName",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "categoryGroupNames",
          "in" : "path",
          "description" : "A comma separated list of category group names",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "pre_match_event"
        }, {
          "name" : "sportId",
          "in" : "path",
          "description" : "The [sport](#/docs/restapi/sports)",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "FOOTBALL"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "details of bet offer category",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetOfferCategoryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/group" : {
      "get" : {
        "tags" : [ "Event group" ],
        "summary" : "Get Event groups",
        "description" : "Hierarchy of event groups starting from root node. Maximum depth of root node(s) is specified as request parameter depth. If any group has subgroups and subgroups are not to be included in the response (depth parameter limitation) then reference to subgroups (URI) is generated. If group has neither subgroups nor reference to subgroups then it contains events only. A list of events for a particular group can be retrieved via event resource. Only groups with at least one active prematch bet offer are included. That service is supposed to have the highest performance and it is recommended to retrieve the entire tree in one call and cache it locally. Group labels are localized according to submitted request parameter lang.",
        "operationId" : "getAllEventGroups",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Maximum depth of root nodes. If omitted, the entire tree will be fetched",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{offering}/group/{groupId}" : {
      "get" : {
        "tags" : [ "Event group" ],
        "summary" : "Get Event group for an identifier",
        "description" : "Hierarchy of event groups starting from group specified as groupId request parameter. Maximum depth of root node is specified as request parameter depth. If any group has subgroups and subgroups are not to be included in the response (depth parameter limitation) then reference to subgroups (URI) is generated. If group has neither subgroups nor reference to subgroups then it contains events only. A list of events for a particular group can be retrieved via /event/group/{groupId}.format. Only groups with at least one active bet offer are included.\n\nGroup labels are localized according to submitted request parameter lang.",
        "operationId" : "getEventGroupsByGroupId",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "Event group identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Maximum depth of root nodes. If omitted, the entire tree will be fetched",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{offering}/group/highlight" : {
      "get" : {
        "tags" : [ "Event group" ],
        "summary" : "List of event group highlighted for a supplied grouping for some marketing reason",
        "operationId" : "getHighlightedGroups",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Maximum depth of root nodes. If omitted, the entire tree will be fetched",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{offering}/event/{eventId}/livedata" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get live data on an event",
        "description" : "Live (real time) data for event specified as parameter eventId. The data includes scores, match clock (if available) and team statistics (if available). Text labels are localized according to submitted request parameter lang.",
        "operationId" : "getLiveDataById",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LiveDataResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/live/open" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get live and open events",
        "description" : "List of all live events that are open. Text labels are localized according to submitted request parameter lang.",
        "operationId" : "getOpenLiveEvents",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Maximum depth of root nodes. If omitted, the entire tree will be fetched",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Competition identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LiveEventResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/group/{groupId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get Events based on group id",
        "description" : "List of all events with at least one open bet offer from the specified group and its subgroups. It is not possible to retrieve a list of all events for the root group (groupId=1). Text labels are localized according to submitted request parameter “lang”.",
        "operationId" : "getAllEventsForEventGroup",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "groupId",
          "in" : "path",
          "description" : "Group identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/externalId" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Fetches a mapping between Kambi event ID and the specified external ID",
        "operationId" : "getInternalEventIdsByExternalProviderIds",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "List of external identifiers",
          "required" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "externalEventProvider",
          "in" : "query",
          "description" : "External event provider. Currently only the value EP_BETRADAR is available",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalEventMappingResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/icon" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Fetches events which has participant icons (silks).",
        "description" : "Of the event ids given in the list 'id', those who has at least one participant with icon (silk) is populated and returned.",
        "operationId" : "getIconsByEventIds",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "List of event ids",
          "required" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/livecalendar" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Fetches the list of upcoming or ongoing live events.",
        "operationId" : "getLiveCalendar",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "If specified, then no events will be returned that have start date before this date. If not specified then the current date with time adjusted back to the nearest whole hour. For example: If current time is 15:29:43, then events starting at 15:00:00 are included.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "If specified, then no events will be returned that have start date after this date. If not specified, then the date is assumed to be 7 days in the future with time adjusted to just before midnight (23:59:59).",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "range_start",
          "in" : "query",
          "description" : "Defines the pagination offset. Default value is 0 (zero).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "range_size",
          "in" : "query",
          "description" : "Defines the maximum number of items in the response. If omitted, the maximum allowed value is used. If specified size is greater than allowed, then the maximum allowed value is used. If specified size is less than allowed, then the minimum allowed value is used. Minimum allowed value is 1 (one). Maximum allowed value is 1000 (one thousand).",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ongoing",
          "in" : "query",
          "description" : "Set the value to true to include ongoing events in the response",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "streamed",
          "in" : "query",
          "description" : "If the value is set to true, then only web streamed events are returned.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "group",
          "in" : "query",
          "description" : "The ID of an event group. If specified, then all returned events are in this group or in one of it’s child groups",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "externalEventProvider",
          "in" : "query",
          "description" : "External event provider. Currently only the value EP_BETRADAR is available.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventCalendarResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/event/participant/{participantId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Get Events based on participant id",
        "description" : "List of all events, with at least one open bet offer, where the given participant is participating. The participant must be listed as participating in the event to be found. Participants only connected to an outcome within the event will not be found by this resource. Text labels are localized according to submitted request parameter lang.",
        "operationId" : "getAllEventsForParticipant",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "participantId",
          "in" : "path",
          "description" : "Participant identifier",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/listView/{sports}/{regions}/{leagues}" : {
      "get" : {
        "tags" : [ "List View" ],
        "summary" : "List events for a sport, region and league",
        "description" : "Returns a list of Events for a sport, region, league and filter based on betOffers, betOfferCategory, categoryGroup etc",
        "operationId" : "getEvents",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "sports",
          "in" : "path",
          "description" : "code for sports",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "football"
        }, {
          "name" : "regions",
          "in" : "path",
          "description" : "region code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "england"
        }, {
          "name" : "leagues",
          "in" : "path",
          "description" : "league code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "all"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "If participants should be included in the response",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          },
          "example" : false
        }, {
          "name" : "useCombined",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each pre-match event.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "useCombinedLive",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each event. Can only be set if useCombined is set to true.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Include only bet offers which are related to given category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "There are some limits of number of shown events, depending on how many there are within certain future time periods. Also the headings are different depending on the number of events. This logic is called now-and-soon.\n<li>If at least 30 events are “available” (currently in-play or will start) within next 24 hours for current offering and filtering parameters, then show all events within 24 hours.</li><li>Otherwise, if at least 50 events are “available” within next 7 days for current offering and filtering parameters, then show all events within 7 days.</li><li>Otherwise, show all events (no future limit).</li>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListView"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/listView/{sports}/{regions}/{leagues}/{participants}" : {
      "get" : {
        "tags" : [ "List View" ],
        "summary" : "List events for a sport, region, league and participants",
        "description" : "Returns a list of Events for a sport, region, league, participants and filter based on betOffers, betOfferCategory, categoryGroup etc",
        "operationId" : "getEvents_1",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "sports",
          "in" : "path",
          "description" : "code for sports",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "football"
        }, {
          "name" : "regions",
          "in" : "path",
          "description" : "region code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "england"
        }, {
          "name" : "leagues",
          "in" : "path",
          "description" : "league code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "all"
        }, {
          "name" : "participants",
          "in" : "path",
          "description" : "participant code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "all"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "If participants should be included in the response",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          },
          "example" : false
        }, {
          "name" : "useCombined",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each pre-match event.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "useCombinedLive",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each event. Can only be set if useCombined is set to true.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Include only bet offers which are related to given category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "There are some limits of number of shown events, depending on how many there are within certain future time periods. Also the headings are different depending on the number of events. This logic is called now-and-soon.\n<li>If at least 30 events are “available” (currently in-play or will start) within next 24 hours for current offering and filtering parameters, then show all events within 24 hours.</li><li>Otherwise, if at least 50 events are “available” within next 7 days for current offering and filtering parameters, then show all events within 7 days.</li><li>Otherwise, show all events (no future limit).</li>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListView"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/listView/{sports}/{regions}/{leagues}/{participants}/{attributes}" : {
      "get" : {
        "tags" : [ "List View" ],
        "summary" : "List events for a sport, region, league, participants and attributes",
        "description" : "Returns a list of Events for a sport, region, league, participants and filter based on betOffers, betOfferCategory, categoryGroup etc",
        "operationId" : "getEvents_2",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "sports",
          "in" : "path",
          "description" : "code for sports",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "football"
        }, {
          "name" : "regions",
          "in" : "path",
          "description" : "region code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "england"
        }, {
          "name" : "leagues",
          "in" : "path",
          "description" : "league code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "all"
        }, {
          "name" : "participants",
          "in" : "path",
          "description" : "participant code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "all"
        }, {
          "name" : "attributes",
          "in" : "path",
          "description" : "Filters the events based on attribute term.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "starting-soon", "streaming", "in-play", "starting-from", "matches", "competitions", "upcoming-live", "display-default", "starting-within" ]
          },
          "example" : "in-play"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "If participants should be included in the response",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          },
          "example" : false
        }, {
          "name" : "useCombined",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each pre-match event.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "useCombinedLive",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each event. Can only be set if useCombined is set to true.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Include only bet offers which are related to given category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "From datetime when using with starting-within attribute",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "To datetime when using with starting-within attribute",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "There are some limits of number of shown events, depending on how many there are within certain future time periods. Also the headings are different depending on the number of events. This logic is called now-and-soon.\n<li>If at least 30 events are “available” (currently in-play or will start) within next 24 hours for current offering and filtering parameters, then show all events within 24 hours.</li><li>Otherwise, if at least 50 events are “available” within next 7 days for current offering and filtering parameters, then show all events within 7 days.</li><li>Otherwise, show all events (no future limit).</li>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListView"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/listView" : {
      "get" : {
        "tags" : [ "List View" ],
        "summary" : "List events",
        "description" : "Returns a list of Events and filter based on betOffers, betOfferCategory, categoryGroup etc",
        "operationId" : "getEvents_3",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "Defines if participant information should be included in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          },
          "example" : false
        }, {
          "name" : "useCombined",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each pre-match event.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "useCombinedLive",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each event. Can only be set if useCombined is set to true.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Include only bet offers which are related to given category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "There are some limits of number of shown events, depending on how many there are within certain future time periods. Also the headings are different depending on the number of events. This logic is called now-and-soon.\n<li>If at least 30 events are “available” (currently in-play or will start) within next 24 hours for current offering and filtering parameters, then show all events within 24 hours.</li><li>Otherwise, if at least 50 events are “available” within next 7 days for current offering and filtering parameters, then show all events within 7 days.</li><li>Otherwise, show all events (no future limit).</li>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListView"
                }
              }
            }
          },
          "400" : {
            "description" : "The request contained invalid data, e.g. a string was submitted instead of a number or an unsupported language was requested. The accompanying error message may specify more details, e.g. “Bet offer ID ABC is not a valid id”."
          },
          "404" : {
            "description" : "The URI requested is invalid or the requested resource does not exist. The accompanying error message may specify more details, e.g. “No bet offers found” (e.g. unknown ID) or “invalid resource path” (e.g. misspelled or unknown path)."
          },
          "405" : {
            "description" : "The request used a not allowed method, for example POST when only GET is allowed."
          },
          "406" : {
            "description" : "The server cannot produce the response in a format requested by the client agent. The list of supported media types will be enclosed in the response entity. The response entity format is JSON."
          },
          "500" : {
            "description" : "An error occurred at server side while processing request. An accompanying error message may explain the reason."
          }
        }
      }
    },
    "/{offering}/listView/{sports}/{regions}" : {
      "get" : {
        "tags" : [ "List View" ],
        "summary" : "List events for a sport and region",
        "description" : "Returns a list of Events for a sport and region and filter based on betOffers, betOfferCategory, categoryGroup etc",
        "operationId" : "getEvents_4",
        "parameters" : [ {
          "name" : "offering",
          "in" : "path",
          "description" : "Unique identifier assigned to the API user",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "kambi"
        }, {
          "name" : "sports",
          "in" : "path",
          "description" : "code for sports",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "football"
        }, {
          "name" : "regions",
          "in" : "path",
          "description" : "region code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "england"
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Defines what [language](#/docs/restapi/localization) should be used for localized texts. Example en_GB, fr_FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "en_GB"
        }, {
          "name" : "market",
          "in" : "query",
          "description" : "Defines the geographical market that the player is registered in. Example GB, FR",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "GB"
        }, {
          "name" : "includeParticipants",
          "in" : "query",
          "description" : "If participants should be included in the response",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          },
          "example" : false
        }, {
          "name" : "useCombined",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each pre-match event.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "useCombinedLive",
          "in" : "query",
          "description" : "Whether a combination of multiple bet offers might be included for each event. Can only be set if useCombined is set to true.",
          "schema" : {
            "type" : "boolean",
            "default" : false,
            "enum" : [ true, false ]
          }
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Include only bet offers which are related to given category",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "competitionId",
          "in" : "query",
          "description" : "Only show events from a certain competition/tournament (setup in offering manager)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "There are some limits of number of shown events, depending on how many there are within certain future time periods. Also the headings are different depending on the number of events. This logic is called now-and-soon.\n<li>If at least 30 events are “available” (currently in-play or will start) within next 24 hours for current offering and filtering parameters, then show all events within 24 hours.</li><li>Otherwise, if at least 50 events are “available” within next 7 days for current offering and filtering parameters, then show all events within 7 days.</li><li>Otherwise, show all events (no future limit).</li>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListView"
                }
              }
            }
          },
          "400" : {
[...]
